In [1]:
import pandas as pd

In [2]:
# series -> 1-dimensional
cars = pd.Series(['Honda', 'BMW', 'Toyota', 'Suzuki'])

In [3]:
cars

0     Honda
1       BMW
2    Toyota
3    Suzuki
dtype: object

In [4]:
colours = pd.Series(['Red', 'Green', 'Black', 'White'])

In [5]:
print(colours)

0      Red
1    Green
2    Black
3    White
dtype: object

In [6]:
# dataframes -> 2-dimensional (It has row & coloumn)
dataframe = pd.DataFrame({"Companies" : cars, "Colors" : colours})

In [7]:
print(dataframe)

  Companies Colors
0     Honda    Red
1       BMW  Green
2    Toyota  Black
3    Suzuki  White

In [8]:
# import dataset
dataset = pd.read_csv("car-sales.csv")

In [9]:
print(dataset)

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [13]:
dataset.to_csv("exported-car-sales.csv", index=False)

In [14]:
exported_dataframe = pd.read_csv("exported-car-sales.csv")

In [15]:
print(exported_dataframe)

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00